# General goodness
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

export ZVM_INSTALL="$HOME"/.zvm/self

# Allow dash shell to pick up .commonrc (and aliases)
export ENV="$HOME/.profile"

# QT5
export QT_STYLE_OVERRIDE="Adwaita-Dark"


# AWS
export AWS_VAULT_BACKEND=secret-service
export AWS_SESSION_TOKEN_TTL=24h
export AWS_FEDERATION_TOKEN_TTL=24h

# Really? We now have to do this???
#########################################################################
# TELEMETRY OPT-OUT WALL OF SHAME
#########################################################################
# CLOUDFLARE
export CREATE_CLOUDFLARE_TELEMETRY_DISABLED=1

# .NET
export DOTNET_CLI_TELEMETRY_OPTOUT=1
